*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row{
	font-family: 'Patrick Hand SC', cursive;
}

#navb{
	background: pink;
	font-family: 'Coiny', cursive;
	letter-spacing: 1px;
	box-shadow: 2px 2px 8px #888888;
}

#jumbo{
	color: olive;
	font-size: 50px;
	background: lightgrey;
	text-align: center;
}

footer{
	/*bottom: 0;*/
	background: pink;
	height: 30px;
	width: 100vw;
}

#form_row{
	margin: 4%;
}

#cards{
	box-shadow: 2px 2px 8px #888888;
	/*margin-bottom: 100px;*/	
}

.card_desc{
	font-size: 15px;
	padding: 10px;	
	line-height: 12px;
}

#jumbo_reg{
	color: white;
	font-size: 50px;
	background: grey;
	text-align: center;
}

.validation{
	color: red;
	font-size: 12px;
}

#login{
	background-color: aquamarine;
	font-weight: bold;
}

#register{
	background-color: olive;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#jumbo_login{
	color: white;
	font-size: 50px;
	background: grey;
	text-align: center;
}

#form_login{
	margin: 5%;
}